<footer>

  <div class='footer-left'>
    <%= image_tag "logo_01.svg" , class:"logo-01" %>
    <p> © 2020 TRINT</p>
  </div>

  <ul class='footer-right'>
    <li><%= link_to "サービス概要", "/" , class:"footer-text" %></li>
    <li><%= link_to "よくある質問", "/" , class:"footer-text" %></li>
    <li><%= link_to "お問い合わせ", "/" , class:"footer-text" %></li>
  </ul>

</footer>